<H1> List of tasks will appear here</H1>

<H2> TwoDew Tasks <H2>

<% if current_user %>
    <p> Your user ID is <%= current_user.id %> <p>
    <% list_count = @list_array.size %>
    <p> You have <%= list_count %> list[s] of tasks <p> 
<% end %>

<ul>
<!-- seperate tasks into a list, showing up to 4? lists on the main bar, and a drop down if more than 4 -->
<!-- clicking on a list takes you to the list of tasks for that list -->
<!-- add an "all" button that shows all tasks, regardless of list -->

<% @tasks.each do |task| %>
    <li><%= task.title %></li>
<% end %>
</ul>

