<H1> List of tasks will appear here</H1>

<H2> TwoDew Tasks <H2>

<% if current_user %>
    <p> Your user ID is <%= current_user.id %> <p>
    <% list_count = @list_array.size %>
    <p> You have <%= list_count %> list[s] of tasks <p> 
<% end %>

<ul>
<% @tasks.each do |task| %>
    <li><%= task.title %></li>
<% end %>
</ul>

